.red {
  color: #f00;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.container {
  margin: 0 auto;
  padding: 0 16px 0 16px;
  max-width: 1160px;
}
@media (max-width: 1165px) {
  .container {
    padding: 0 30px 0 30px;
  }
}
.section_title {
  padding: 120px 0 72px 0;
  font-size: 25px;
  line-height: 25px;
}
.section_item__title {
  font-size: 16px;
  line-height: 16px;
}
.section_item__text {
  font-size: 14px;
  line-height: 24px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  transition: 0.1s;
}
.btn_positive {
  background-color: #f00;
}
.btn_positive:hover {
  background-color: #cd0a00;
}
.btn_negative {
  background-color: #252525;
}
.btn_negative:hover {
  background-color: #5a5a5a;
}
.cart_img {
  width: 439px;
  height: 310px;
}
.arrow {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  background: transparent;
  border: 1px solid #000;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
}
.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -4px;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: 0.3s;
}
.accordion_title.active .arrow {
  border-color: #f00;
}
.accordion_title.active .arrow::before {
  margin-top: -2px;
  margin-left: -4px;
  border-bottom: 1px solid #f00;
  border-right: 1px solid #f00;
  transform: rotate(-135deg);
}
