@font-face {
  font-family: 'MyrReg';
  src: url("../fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: 'MyrIt';
  src: url("../fonts/MyriadPro-It.otf");
}
@font-face {
  font-family: 'MyrCond';
  src: url("../fonts/MyriadPro-Cond.otf");
}
@font-face {
  font-family: 'MyrCond';
  src: url("../fonts/MyriadPro-Cond.otf");
}
@font-face {
  font-family: 'MyrBoldCond';
  src: url("../fonts/MyriadPro-BoldCond.otf");
}
@font-face {
  font-family: 'MyrBold';
  src: url("../fonts/MyriadPro-Bold.otf");
}
