.red {
  color: #f00;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.container {
  margin: 0 auto;
  padding: 0 16px 0 16px;
  max-width: 1160px;
}
@media (max-width: 1165px) {
  .container {
    padding: 0 30px 0 30px;
  }
}
.section_title {
  padding: 120px 0 72px 0;
  font-size: 25px;
  line-height: 25px;
}
.section_item__title {
  font-size: 16px;
  line-height: 16px;
}
.section_item__text {
  font-size: 14px;
  line-height: 24px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  transition: 0.1s;
}
.btn_positive {
  background-color: #f00;
}
.btn_positive:hover {
  background-color: #cd0a00;
}
.btn_negative {
  background-color: #252525;
}
.btn_negative:hover {
  background-color: #5a5a5a;
}
.cart_img {
  width: 439px;
  height: 310px;
}
.arrow {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  background: transparent;
  border: 1px solid #000;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
}
.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -4px;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: 0.3s;
}
.accordion_title.active .arrow {
  border-color: #f00;
}
.accordion_title.active .arrow::before {
  margin-top: -2px;
  margin-left: -4px;
  border-bottom: 1px solid #f00;
  border-right: 1px solid #f00;
  transform: rotate(-135deg);
}
.footer {
  margin-top: 87px;
  padding-bottom: 90px;
  border-top: 1px solid #9d9d9b;
  background: #555;
  font-family: MyrReg;
  color: #fff;
}
.footer a {
  font-family: MyrReg;
  color: #fff;
}
.footer_title {
  position: relative;
  padding: 23px 0 13px 16px;
  font-family: MyrBoldCond;
  font-size: 30px;
  color: #ee1b22;
  text-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.footer_title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: url("../img/bg-footer-h-line.png") repeat-x left bottom;
}
.footer .footer_nav {
  position: relative;
  width: 72%;
}
.footer .footer_nav::before {
  content: "";
  position: absolute;
  top: 18px;
  right: -13px;
  width: 2px;
  height: 113%;
  background: url("../img/bg-footer-v-line.png");
}
.footer .footer_nav .flex_row__between {
  padding: 14px 0 0 18px;
}
.footer .footer_nav .footer_link__big {
  display: block;
  font-family: MyrBoldCond;
  font-size: 18px;
}
.footer .footer_nav .footer_link__big:hover {
  text-decoration: underline;
}
.footer .footer_nav .footer_link__big.service {
  margin-top: 25px;
}
.footer .footer_nav .footer_link__little {
  display: block;
  line-height: 14px;
  margin-top: 14px;
  font-size: 12px;
  color: #aba9a9;
}
.footer .footer_nav .footer_link__little:hover {
  text-decoration: underline;
}
.footer .footer_nav .flex_column {
  width: 22%;
}
.footer_inf {
  margin: 33px 0 0 63px;
}
.footer_holding {
  display: block;
  width: 221px;
  margin: 0 0 9px 0;
  font-size: 14px;
  text-decoration: underline;
}
.footer_holding:hover {
  text-decoration: none;
}
.footer_soc a {
  display: block;
  width: 46px;
  height: 46px;
  background: url("../img/social-sprite.png");
}
a.footer_soc__inst {
  width: 42px;
  background-position: -46px 0;
}
a.footer_soc__utube {
  width: 43px;
  background-position: -88px 0;
}
a.footer_tel {
  display: block;
  height: 36px;
  margin: 0 0 5px -39px;
  padding: 0 0 0 39px;
  font-family: MyrBold;
  font-size: 24px;
  line-height: 36px;
  background: url("../img/phone.png") no-repeat left center;
}
.footer_loc {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 17px;
  color: #aea9a9;
}
.footer .footer_feedback {
  display: block;
  margin-bottom: 30px;
  color: #aea9a9;
}
.footer .footer_feedback:hover {
  text-decoration: underline;
}
.footer .footer_copyright {
  font-size: 14px;
  color: #6b6a6a;
}
@media (max-width: 1050px) {
  .footer_holding {
    font-size: 13px;
    text-decoration: none;
  }
  a.footer_tel {
    font-family: MyrReg;
    font-size: 16px;
    background: none;
  }
  .footer_title {
    padding-left: 0;
  }
  .footer_title::before {
    content: none;
  }
  .footer .footer_nav::before {
    content: none;
  }
  .footer .footer_nav .flex_column {
    margin-right: 30px;
    width: 25%;
  }
  .footer .footer_nav .flex_row__between {
    padding-left: 0;
  }
  .footer_inf {
    margin: 33px 0 0 0;
  }
}
@media (max-width: 910px) {
  .footer .flex_row__between.mob_column {
    flex-direction: column;
  }
  .footer .footer_nav {
    width: 100%;
  }
}
@media (max-width: 660px) {
  .footer .footer_nav {
    width: 100%;
  }
  .footer .footer_nav .flex_row__between {
    flex-direction: column;
  }
  .footer .footer_nav .flex_row__between .flex_column {
    width: 100%;
  }
  .footer .footer_nav .footer_link__big {
    margin-top: 30px;
  }
  .footer .footer_nav .footer_link__big.service {
    margin-top: 30px;
  }
  .footer .footer_nav .footer_link__big.mob-link {
    margin-top: 0;
  }
}
