.red {
  color: #f00;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.container {
  margin: 0 auto;
  padding: 0 16px 0 16px;
  max-width: 1160px;
}
@media (max-width: 1165px) {
  .container {
    padding: 0 30px 0 30px;
  }
}
.section_title {
  padding: 120px 0 72px 0;
  font-size: 25px;
  line-height: 25px;
}
.section_item__title {
  font-size: 16px;
  line-height: 16px;
}
.section_item__text {
  font-size: 14px;
  line-height: 24px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  transition: 0.1s;
}
.btn_positive {
  background-color: #f00;
}
.btn_positive:hover {
  background-color: #cd0a00;
}
.btn_negative {
  background-color: #252525;
}
.btn_negative:hover {
  background-color: #5a5a5a;
}
.cart_img {
  width: 439px;
  height: 310px;
}
.arrow {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  background: transparent;
  border: 1px solid #000;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
}
.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -4px;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: 0.3s;
}
.accordion_title.active .arrow {
  border-color: #f00;
}
.accordion_title.active .arrow::before {
  margin-top: -2px;
  margin-left: -4px;
  border-bottom: 1px solid #f00;
  border-right: 1px solid #f00;
  transform: rotate(-135deg);
}
.header-first {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  height: 54px;
  background: #f9f9f9 url("../img/header-first-bg.jpg");
}
.header-first_left {
  width: 45%;
}
.header-first_town {
  position: relative;
  z-index: 100;
  margin: 0 0 0 20px;
  font-family: MyrReg, 'Tahoma', 'Arial', 'Verdana';
  font-size: 14px;
  line-height: 54px;
  color: #808080;
  text-shadow: 1px 1px #fff;
}
.header-first_town a {
  color: #808080;
}
.header-first_town a.current {
  pointer-events: none;
  cursor: default !important;
}
.header-first_town .ui.selection.dropdown {
  margin: 11px 0 0 9px;
  padding: 0 0 0 10px;
  min-width: 103px;
  min-height: 32px;
  height: 32px;
  border: 1px solid #97a3bb;
  border-bottom-color: #b3b3b3;
  line-height: 32px;
  color: #808080;
  text-shadow: 1px 1px #fff;
  box-shadow: inset 1px -1px #f1f1f1, inset -1px 0 #f1f1f1, 0 1px 2px rgba(0,0,0,0.1);
  background: #f5f5f5 url("../img/dropdown.png") repeat-x;
}
.header-first_town .ui.selection.dropdown.active i.dropdown.icon::before {
  transform: rotate(180deg);
  opacity: 1;
}
.header-first_town .ui.selection.dropdown i.dropdown.icon {
  width: 34px;
  height: 100%;
  border-left: 1px solid #ccc;
}
.header-first_town .ui.selection.dropdown i.dropdown.icon::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  opacity: 0.3;
  transition: 0.3s;
}
.header-first_town .ui.selection.dropdown .menu {
  margin-top: 2px;
  border: 1px solid #ccc;
  border-bottom: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2) !important;
}
.header-first_town .ui.selection.dropdown .menu>.item {
  padding: 0 !important;
  text-shadow: 1px 1px #fff;
  border: none;
}
.header-first_town .ui.selection.dropdown .menu>.item.item_current {
  cursor: default;
}
.header-first_town .ui.selection.dropdown .menu>.item:hover {
  background-color: #08c;
}
.header-first_town .ui.selection.dropdown .menu>.item:hover a {
  color: #fff;
  text-shadow: none;
}
.header-first_town .ui.selection.dropdown .menu>.item a {
  display: block;
  height: 39px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 39px;
  color: #231f20;
  text-shadow: 1px 1px #fff;
}
.header-first_town .ui.selection.dropdown .menu>.item a.current {
  color: #fff;
  text-shadow: none;
  background-color: #a3abb1;
}
.header-first_town .ui.selection.dropdown .menu>.item a.current:hover {
  color: #fff;
  text-shadow: none;
  background-color: #08c;
}
.header-first .header-first-to-map {
  position: relative;
  height: 54px;
  padding: 0 25px 0 0;
  font-family: MyrIt;
  font-size: 14px;
  color: #ee1b22;
  line-height: 54px;
  text-decoration: none;
  background: url("../img/map-point.png") no-repeat right center;
}
.header-first .header-first-to-map:hover {
  text-decoration: underline;
}
.header-first_nav li:last-child a {
  padding-right: 0;
}
.header-first_nav li a {
  display: block;
  height: 54px;
  padding: 0 25px 0 0;
  font-family: MyrCond;
  font-size: 18px;
  line-height: 54px;
  text-transform: uppercase;
  color: #000;
}
.header-first_nav li a:hover {
  text-decoration: underline;
}
.header-second {
  position: absolute;
  z-index: 99;
  top: 54px;
  left: 0;
  right: 0;
  height: 82px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.31);
  background: #ee1b22;
}
.header-second_fixed {
  position: fixed;
  z-index: 100;
  top: 0;
}
.header-second .header_second__logo {
  margin-top: 8px;
}
.header-second_nav {
  margin-top: 29px;
}
.header-second_nav li {
  height: 22px;
  border-left: 4px solid #fff102;
}
.header-second_nav li:first-child {
  border: none;
}
.header-second_nav li:last-child a {
  padding-right: 0;
}
.header-second_nav li a {
  display: block;
  height: 23px;
  padding: 0 25px;
  font-family: MyrCond;
  font-size: 22px;
  line-height: 23px;
  color: #fff;
}
.header-second_nav li a:hover {
  text-decoration: underline;
}
.top {
  position: relative;
  height: 100vh;
  background: url("../img/top-bg.jpg") center;
}
.top .container {
  position: relative;
}
.top .container::before,
.top .container::after {
  content: "";
  position: absolute;
  width: 152px;
  height: 127px;
  background: url("../img/leaf.png");
}
.top .container::before {
  bottom: -35vh;
  left: -200px;
}
.top .container::after {
  bottom: -20vh;
  right: -200px;
}
.top .flex_column {
  margin: 0 auto;
  padding-top: 60vh;
  width: 500px;
}
.top .flex_row__between {
  margin: 85px 0 55px 0;
}
.top .top-to-bottom.arrow {
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border: 2px solid #999;
}
.top .top-to-bottom.arrow::before {
  margin-top: -9px;
  margin-left: -7px;
  width: 11px;
  height: 11px;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
}
.top .top-to-bottom.arrow:hover {
  background: #999;
}
.top .top-to-bottom.arrow:hover::before {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
.popup_overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}
.popup_overlay__show {
  display: block;
}
.cmn-toggle-switch__htx,
.cmn-toggle-switch__htx.active {
  background: #ee1b22;
}
.cmn-toggle-switch span::after,
.cmn-toggle-switch span::before {
  background: #fff;
}
.cmn-toggle-switch span {
  background: #fff;
}
.header-mob {
  display: none;
}
.header-mob_line {
  position: relative;
  z-index: 100;
  height: 65px;
  background: #ee1b22;
}
.header-mob_line button {
  position: absolute;
  left: 24px;
}
.header-mob_line img {
  display: block;
  margin: 0 auto;
  height: 40px;
}
.header-mob_nav {
  position: absolute;
  z-index: 100;
  width: 100%;
  max-height: 0;
  background-color: #fff;
  overflow: hidden;
  transition: 0.3s ease;
}
.header-mob_nav__show {
  padding: 20px 0 60px 0;
  max-height: 500px;
}
.header-mob_nav li a {
  display: block;
  padding: 20px 0 0 30px;
  color: #000;
}
@media (max-width: 1050px) {
  .header-mob {
    display: block;
  }
  .header-first {
    display: none;
  }
  .header-second {
    display: none;
  }
  .top {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center -230px;
  }
  .top .flex_column {
    padding-top: 55vh;
  }
}
@media (max-width: 580px) {
  .top {
    background-size: cover;
    background-position: center -150px;
  }
  .top .flex_column {
    padding-top: 32vh;
    width: 100%;
  }
  .top .flex_row__between {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }
  .top .flex_row__between button {
    width: 100%;
  }
}
@media (max-height: 580px) {
  .top {
    background-position: center -100px;
  }
  .top .flex_column {
    padding-top: 25vh;
  }
}
