.red {
  color: #f00;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.container {
  margin: 0 auto;
  padding: 0 16px 0 16px;
  max-width: 1160px;
}
@media (max-width: 1165px) {
  .container {
    padding: 0 30px 0 30px;
  }
}
.section_title {
  padding: 120px 0 72px 0;
  font-size: 25px;
  line-height: 25px;
}
.section_item__title {
  font-size: 16px;
  line-height: 16px;
}
.section_item__text {
  font-size: 14px;
  line-height: 24px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 50px;
  font-size: 16px;
  color: #fff;
  transition: 0.1s;
}
.btn_positive {
  background-color: #f00;
}
.btn_positive:hover {
  background-color: #cd0a00;
}
.btn_negative {
  background-color: #252525;
}
.btn_negative:hover {
  background-color: #5a5a5a;
}
.cart_img {
  width: 439px;
  height: 310px;
}
.arrow {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  background: transparent;
  border: 1px solid #000;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
}
.arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -4px;
  width: 9px;
  height: 9px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: 0.3s;
}
.accordion_title.active .arrow {
  border-color: #f00;
}
.accordion_title.active .arrow::before {
  margin-top: -2px;
  margin-left: -4px;
  border-bottom: 1px solid #f00;
  border-right: 1px solid #f00;
  transform: rotate(-135deg);
}
.bottom-to-top {
  position: fixed;
  top: 0;
  left: -300px;
  padding: 70vh 0 0 35px;
  width: 105px;
  height: 100vh;
  color: rgba(0,0,0,0.6);
  background: rgba(0,0,0,0.01);
  transition: 0.3s;
}
.bottom-to-top:hover {
  color: rgba(0,0,0,0.8);
  background: rgba(0,0,0,0.04);
}
.bottom-to-top:hover::before {
  border-left: 2px solid rgba(0,0,0,0.6);
  border-top: 2px solid rgba(0,0,0,0.6);
}
.bottom-to-top::before {
  content: "";
  position: absolute;
  top: 71vh;
  left: 15px;
  width: 7px;
  height: 7px;
  border-left: 2px solid rgba(0,0,0,0.4);
  border-top: 2px solid rgba(0,0,0,0.4);
  transform: rotate(45deg);
  transition: 0.3s;
}
.bottom-to-top_fixed {
  left: 0;
}
@media (max-width: 1400px) {
  .bottom-to-top_fixed {
    display: none;
  }
}
/*FEATURES BEGIN =============*/
.features {
  padding-bottom: 95px;
  background-color: #f2f8f1;
}
.features .flex_row__between .features_item {
  margin-right: 60px;
  width: 23%;
}
.features .flex_row__between .features_item:first-child {
  position: relative;
  margin-right: 0;
  height: 120px;
}
.features .flex_row__between .features_item:first-child::before {
  content: "";
  position: absolute;
  top: 5px;
  width: 146px;
  height: 114px;
  background: url("../img/iconset.png");
}
.features .flex_row__between .features_item:last-child {
  margin-right: 0;
}
.features .flex_row__between .features_item .section_item__title {
  line-height: 24px;
}
.features .section_item__title {
  margin-bottom: 17px;
}
@media (max-width: 950px) {
  .features .flex_row__between {
    flex-flow: wrap;
    justify-content: center;
  }
  .features .flex_row__between .features_item {
    margin-bottom: 50px;
    width: 42%;
  }
  .features .flex_row__between .features_item:first-child {
    margin-right: 60px;
  }
  .features .flex_row__between .features_item:first-child::before {
    left: 50%;
    margin-left: -73px;
  }
  .features .flex_row__between .features_item:nth-child(2n) {
    margin-right: 0;
  }
  .features .flex_row__between .features_item .section_item__title {
    line-height: 24px;
  }
}
@media (max-width: 560px) {
  .features .flex_row__between .features_item {
    margin: 0 0 50px 0;
    width: 100%;
    text-align: center;
  }
  .features .flex_row__between .features_item:first-child::before {
    margin-left: -25px;
  }
}
/*
@media (max-width: 800px) {

	.features {
		.flex_row__between {
			flex-flow: wrap
			justify-content: center
			.features_item {
				margin-bottom: 50px;
				width: 44%
			}
		}
	}

}

@media (max-width: 660px) {

	.features {
		.flex_row__between {
			justify-content: flex-start
			.features_item {
				width: 100%
			}
		}
	}

}

@media (max-width: 450px) {

	.features {
		.flex_row__between {
			padding: 140px 0 0 0
			text-align: center
			&::before {
				top: -20px
				left: 50%
				margin-left: -73px
			}
		}
	}

}*/
/*FEATURES END =================*/
/*RULES BEGIN ==============*/
.rules {
  min-height: 720px;
}
.rules .flex_row__between {
  flex-flow: wrap;
}
.rules .rules_item {
  margin-bottom: 50px;
  width: 27%;
  transition: 0.3s;
}
.rules .rules_item b,
.rules .rules_item p {
  padding-left: 21px;
  font-size: 14px;
}
.rules .rules_item b {
  display: block;
  margin-bottom: 18px;
  border-left: 3px solid #888;
  line-height: 24px;
}
.rules .rules_item:nth-child(1):hover,
.rules .rules_item:nth-child(2):hover,
.rules .rules_item:nth-child(3):hover,
.rules .rules_item:nth-child(4):hover,
.rules .rules_item:nth-child(5):hover,
.rules .rules_item:nth-child(6):hover {
  position: relative;
  padding-top: 60px;
}
.rules .rules_item:nth-child(1):hover b,
.rules .rules_item:nth-child(2):hover b,
.rules .rules_item:nth-child(3):hover b,
.rules .rules_item:nth-child(4):hover b,
.rules .rules_item:nth-child(5):hover b,
.rules .rules_item:nth-child(6):hover b {
  font-size: 16px;
}
.rules .rules_item:nth-child(1):hover::before,
.rules .rules_item:nth-child(2):hover::before,
.rules .rules_item:nth-child(3):hover::before,
.rules .rules_item:nth-child(4):hover::before,
.rules .rules_item:nth-child(5):hover::before,
.rules .rules_item:nth-child(6):hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 21px;
  width: 77px;
  height: 46px;
  background: url("../img/iconset.png");
}
.rules .rules_item:nth-child(1):hover::before {
  background-position: 96px 2px;
}
.rules .rules_item:nth-child(2):hover::before {
  background-position: 187px -67px;
}
.rules .rules_item:nth-child(3):hover::before {
  background-position: 96px -65px;
}
.rules .rules_item:nth-child(4):hover::before {
  background-position: 96px -138px;
}
.rules .rules_item:nth-child(5):hover::before {
  background-position: 96px -204px;
}
.rules .rules_item:nth-child(6):hover::before {
  background-position: 182px 2px;
}
@media (max-width: 1165px) {
  .rules .rules_item {
    width: 31%;
  }
}
@media (max-width: 800px) {
  .rules .rules_item {
    width: 48%;
  }
}
@media (max-width: 550px) {
  .rules .rules_item {
    width: 100%;
  }
}
/*RULES END ==============*/
.change-news {
  background: url("../img/orange.jpg") top center no-repeat;
  color: #fff;
}
@media (max-width: 1050px) {
  .change-news {
    -webkit-background-size: cover;
    background-size: cover;
  }
}
/*CHANGES BEGIN ==============*/
.change .section_title {
  padding-top: 160px;
}
.change_item {
  position: relative;
  padding-left: 90px;
  font-size: 14px;
  line-height: 23px;
}
.change_item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 77px;
  height: 75px;
  background: url("../img/iconset.png");
}
.change_item:nth-child(1) {
  width: 32%;
}
.change_item:nth-child(1)::before {
  background-position: 0 -140px;
}
.change_item:nth-child(2) {
  width: 32%;
}
.change_item:nth-child(2)::before {
  background-position: -78px -140px;
}
.change_item:nth-child(3) {
  width: 31%;
}
.change_item:nth-child(3)::before {
  background-position: -167px -140px;
}
@media (max-width: 800px) {
  .change .flex_row__between {
    flex-flow: wrap;
    justify-content: center;
  }
  .change_item {
    margin-bottom: 50px;
  }
  .change_item:nth-child(1) {
    width: 50%;
  }
  .change_item:nth-child(2) {
    width: 50%;
  }
  .change_item:nth-child(3) {
    width: 50%;
  }
}
@media (max-width: 550px) {
  .change_item:nth-child(1) {
    width: 100%;
  }
  .change_item:nth-child(2) {
    width: 100%;
  }
  .change_item:nth-child(3) {
    width: 100%;
  }
}
/*CHANGES END ==================*/
/*NEWS BEGIN ====================*/
.news .section_title {
  padding-bottom: 98px;
}
.news_item {
  position: relative;
  padding: 35px;
  width: 49%;
  background-color: #fff;
  border: 1px solid #ece9e9;
  color: #000;
}
.news_item .news_img {
  margin-right: 40px;
  width: 216px;
  height: 216px;
}
.news_item .news_date {
  position: absolute;
  top: -26px;
  left: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 47px;
  background: #d80505;
  font-size: 20px;
  color: #fff;
}
.news_item .section_item__title {
  margin-bottom: 20px;
}
.news_item .news_text {
  font-size: 13px;
  line-height: 23px;
}
@media (max-width: 1165px) {
  .news_item {
    width: 48.6%;
  }
  .news_item .news_img {
    margin-right: 35px;
    width: 150px;
    height: 100%;
  }
}
@media (max-width: 1050px) {
  .news .flex_row__between {
    flex-flow: wrap;
  }
  .news_item {
    margin-bottom: 50px;
    width: 100%;
  }
  .news_item .flex_row__between {
    flex-flow: nowrap;
  }
}
@media (max-width: 550px) {
  .news .flex_row__between {
    justify-content: center;
  }
  .news_item .flex_row__between {
    flex-flow: wrap;
  }
  .news_item .news_img {
    margin: 0 0 35px 0;
    width: 100%;
    height: 100%;
    max-height: 220px;
  }
}
/*NEWS END ====================*/
/*FAQ BEGIN ======================*/
.faq {
  margin-top: 60px;
  padding-bottom: 100px;
  background: #fbfcfb;
}
.faq .container {
  position: relative;
  max-width: 1282px;
}
.faq .container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 130px;
  width: 654px;
  height: 257px;
  background: url("../img/faq.png");
}
.faq .section_title {
  padding: 120px 0 47px 60px;
}
.faq .accordion_title {
  display: flex;
  align-items: center;
  padding: 0 20px 0 60px;
  height: 90px;
  font-size: 20px;
  line-height: 21px;
  cursor: pointer;
}
.faq .accordion_title__text {
  position: relative;
  padding-left: 42px;
}
.faq .accordion_title__arrow.arrow {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14.5px;
}
.faq .accordion_content {
  display: none;
  padding: 33px 60px;
  border-top: 1px solid #dbdada;
  border-bottom: 1px solid #dbdada;
  line-height: 30px;
  font-style: italic;
  color: #525151;
  background-color: #fff;
}
.faq .accordion_content ol {
  padding-left: 17px;
}
.faq .accordion_content .accordion_content__title {
  margin-bottom: 10px;
}
@media (max-width: 1285px) {
  .faq .container {
    padding: 0;
  }
}
@media (max-width: 1165px) {
  .faq .section_title {
    padding-left: 30px;
  }
  .faq .accordion_title {
    padding-left: 30px;
  }
  .faq .accordion_title__text {
    padding-left: 42px;
  }
  .faq .accordion_content {
    padding: 38px 30px 38px 30px;
  }
}
/*FAQ END ======================*/
/*CASHBACK BEGIN ================*/
.cashback {
  padding-top: 80px;
  line-height: 30px;
}
.cashback img {
  max-height: 380px;
}
.cashback .flex_column {
  margin-left: 65px;
  width: 40%;
}
.cashback .section_title {
  padding: 95px 0 60px;
}
@media (max-width: 900px) {
  .cashback .flex_row__start {
    flex-direction: column;
    align-items: center;
  }
  .cashback .flex_column {
    margin-left: 0;
    width: 100%;
  }
  .cashback .section_title {
    padding: 70px 0 40px;
  }
}
/*CASHBACK END ==================*/
/*ACTIVATE BEGIN ================*/
.activate .activate_right__text {
  width: 40%;
  line-height: 30px;
}
.activate .activate_item {
  margin: 0 30px 0 30px;
  padding-right: 10px;
  width: 260px;
}
.activate .activate_item .activate_item__step {
  margin-bottom: 20px;
  font-size: 20px;
}
.activate .activate_item .section_text__bottom {
  position: relative;
  padding-left: 85px;
  line-height: 35px;
}
.activate .activate_item .section_text__bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.activate .activate_item.step1 .section_text__bottom::before {
  background: url("../img/keypad.png");
  -webkit-background-size: cover;
  background-size: cover;
}
.activate .activate_item.step2 .section_text__bottom {
  padding-left: 100px;
}
.activate .activate_item.step2 .section_text__bottom::before {
  background: url("../img/credit-card.png");
  -webkit-background-size: cover;
  background-size: cover;
}
@media (max-width: 950px) {
  .activate .activate_right__text {
    width: 60%;
  }
  .activate .activate_steps-block.flex_row__between {
    flex-direction: column;
  }
  .activate .activate_item:last-child {
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  .activate .activate_right__text {
    width: 100%;
  }
  .activate .activate_item {
    margin-left: 0;
    width: 100%;
  }
  .activate .activate_item {
    margin-top: 40px;
  }
  .activate .activate_item:last-child {
    margin-top: 60px;
  }
  .activate .activate-block.flex_row__between {
    flex-direction: column;
  }
}
/*ACTIVATE END =================*/
.bottom_inf .section_text__bottom {
  line-height: 30px;
}
